# Bỏ qua môi trường ảo
.venv/
venv/
env/

# Bỏ qua dữ liệu (rất quan trọng)
data/raw/
data/processed/
*.csv
*.xlsx

# Bỏ qua các file tạm của Python và Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store